/* Font-Import-Link */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Radio+Canada:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Overall-Body-CSS Start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Radio Canada', sans-serif;
} 

/* Main-Theme-Color */
:root {
  --primary-color: #e44747;
  --secondary-color: #fbfaf8;
  --tertiary-color: #282b8f;
  --primary-background-color: #e55a5a;
}

/* Navbar-CSS */
.main-container{
  position: relative;
}

.navbar{
  position: absolute;
  padding: 24px 200px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.nav-link{
  color: var(--secondary-color) !important;
}
.nav-link:hover{
  color: var(--tertiary-color) !important;
  border-bottom: 3px solid var(--tertiary-color);
}

/* Banner-CSS */
.background-first{
  background-color: var(--secondary-color);
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.background-second{
  background-color: var(--primary-color);
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.banner-motive{
  line-height: 3;
}
.button-style{
  border: 1px solid lightgray;
}
.button-style:hover{
  color:var(--secondary-color);
  background-color: #117eb8;
}
.banner-para-text{
  color: var(--primary-color);
}


/* Explore-Button-CSS */
.explore {
  font-family: 'Space Mono', monospace;
  letter-spacing: 1px;
  background: none;
  color: white;
  position: absolute;
  outline: none;
  border: none;
  height: 50px;
  width: 190px;
  font-size: 14px;
  z-index: 2;
  transition: 0.01s 0.23s ease-out all;
  overflow: hidden;
  top:680px;
}

.explore:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 55%;
  background: var(--primary-background-color);
  z-index: -1;
  transition: 0.3s ease-in all;
}

.explore:after {
  content: '';
  position: absolute;
  left: -5%;
  top: 5%;
  height: 90%;
  width: 5%;
  background: white;
  z-index: -1;
  transition: 0.4s 0.02s ease-in all;
}

.explore:hover {
  cursor: pointer;
  color: transparent;
}

.explore:hover:before {
  left: 100%;
  width: 25%;
}

.explore:hover:after {
  left: 100%;
  width: 70%;
}

.explore:hover .icon-right.after:after {
  left: -80px;
  color: white;
  transition: 0.2s 0.2s ease all;
}

.explore:hover .icon-right.after:before {
  left: -104px;
  top: 14px;
  opacity: 0.2;
  color: white;
}

.icon-right {
  position: absolute;
  top: 0;
  right: 0;
}

.icon-right:after {
  font-family: "FontAwesome";
  content: '\2192';
  font-size: 24px;
  display: inline-block;
  position: relative;
  top: 26px;
  transform: translate3D(0, -50%, 0);
}

.icon-right.after:after {
  left: -250px;
  color: black;
  transition: 0.15s 0.25s ease left, 0.5s 0.05s ease color;
}

.icon-right.after:before {
  content: 'Explore';
  position: absolute;
  left: -230px;
  top: 14px;
  opacity: 0;
  transition: 0.2s ease-in all;
}

.signature {
  position: fixed;
  font-family: sans-serif;
  font-weight: 100;
  bottom: 10px;
  left: 0;
  letter-spacing: 4px;
  font-size: 10px;
  width: 100vw;
  text-align: center;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}


@media (min-width: 375px) and (max-width: 1199.98px) {
  /* Banner */
  .banner-motive{
    padding:0px 20px;
  }
  .banner-motive p{
    font-size: 14px;
  }
  .banner-motive h1{
    font-size: 30px;
  }
  .navbar{
    padding: 0px 20px;
    background-color: var(--secondary-color);
  }
  .nav-link{
    color: var(--tertiary-color) !important;
  }
  .container-fluid{
    width: 100%;
  }
}